# Ignore Gradle cache and build output folders
.gradle
build

# Ignore IDE config files
.idea
.vscode
*.iml

# Ignore git files
.git
.gitignore

# Ignore logs
*.log

# Ignore local environment files
.env
